body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("https://tse4.mm.bing.net/th/id/OIP.XfqwoBE_Og2MFabpxbXQUQHaEo?r=0&rs=1&pid=ImgDetMain&o=7&rm=3") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(255, 255, 255, 0.85); /* slightly more transparent */
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  width: 350px;
  text-align: center;
}


